doctype html
html
  include header.jade

  body
    .navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/')  Template for Rapid Application Development (Prototype) 
        .navbar-collapse.collapse
          ul.nav.navbar-nav
            if session.authenticated
              li.active
                a(href='/user/show/<%= session.User.id %>')
            if (session.authenticated && session.me && session.me.access && session.me.access.match('Admin') )
              li
                a(href='/user') User Administration
              li
                a(href='#') Placeholder2
          div.navbar-right
            if (session.authenticated)
              a.btn.btn-default.navbar-btn.navbar-right(href='/session/destroy') sign-out
            if (!session.authenticated) 
              form.navbar-form.navbar-right(action='/session/create')
                div.form-group
                  input.form-control(type='text', placeholder='Email', name='email')
                div.form-group
                  input.form-control(type='password', placeholder='Password', name='password')
                button.btn.btn-success(type='submit') Sign in
                input(type='hidden', name='_csrf', value='<%= _csrf %>')
     
    block content

    include footer.jade
