extends publicLayout
block content
  body(ng-app='HomepageModule', ng-controller='HomepageController', ng-cloak='')
    .container-fluid
      // Creates the navbar
      nav.navbar.navbar-default.navbar-inverse
        // This creates the mechanism for collapse button
        button.navbar-toggle(type='button', data-toggle='collapse', ng-init='navCollapsed = true', ng-click='navCollapsed = !navCollapsed')
          // This controls the number of lines in the image when the nav collapse
          span.icon-bar
          span.icon-bar
          span.icon-bar
        // This is the brand on the left-hand side.
        a.navbar-brand(href='/#')  activityOverlord
        .collapse.navbar-collapse(ng-class="!navCollapsed && 'in'")
          form.navbar-form.navbar-right(ng-submit='submitLoginForm()')
            .form-group
              input.form-control(ng-model='loginForm.email', type='text', placeholder='Email', name='email')
            .form-group
              input.form-control(ng-model='loginForm.password', type='password', placeholder='Password', name='password')
            button.btn.btn-success(type='submit')
              span(ng-show='!loginForm.loading') Sign in
              span.fa.fa-spinner(ng-show='loginForm.loading')
              span(ng-show='loginForm.loading') Signing in...
            input(type='hidden', name='_csrf', value='#{ _csrf %>')
    .col-md-8.col-md-offset-2
      .jumbotron
        h1 activityOverlordv2.0
        h2 ...tracking app activity better than the NSA since 1899.
        a.btn.btn-lg.btn-success(href='/signup') Sign up now!

