extends layout
block content
        .container(style='margin-top:100px')
            div(ng-app="myApp")
                div(ng-controller="Nto1Controller")
                    div(ng-controller="ClinicController")

                        h3 Lookup: {{ title }}
                        h4 model = {{ Clinics }}
                        h4 example = {{ exampleData }}
                        hr
                        form 
                            b choose &nbsp;
                            div(ng-dropdown-multiselect='', options='exampleData', selected-model='Clinics')
                        
                        b options = {{ Lookup.Clinics.options }}
                        hr
                        b menu = {{ MenuSettings }}

    footer
      include footer.jade
