div
  div
    - var preload = "loadStaff()";
    form#manageStaffForm(name='newItemForm' ng-init='#{preload}')
        table.table.table-bordered.table-hover
          thead
            tr.active
              th &nbsp;
              th Staff
              th Position
            tr(ng-repeat='emp in Staff.options')
              td
                span(ng-if="emp.Duty_Status != 'on duty'")
                  button.btn.btn-primary.btn-xs(type='button' ng-click="setDuty(emp.Clinic_Staff_ID,'on duty')") +
                span(ng-if="emp.Duty_Status == 'on duty'")
                  button.btn.btn-danger.btn-xs(type='button' ng-click="setDuty(emp.Clinic_Staff_ID, 'off duty')") -           
              td 
                span(ng-if="emp.Duty_Status != 'on duty'")
                  span {{emp.Staff_Name}} [ {{emp.Staff_ID}}] &nbsp;
                span(ng-if="emp.Duty_Status == 'on duty'")
                  b  {{emp.Staff_Name}} [ {{emp.Staff_ID}}]
                  i.glyphicon.glyphicon-ok.navbar-right

              td {{emp.Staff_Role}} {{ emp.Duty_Status }}
        hr

        button.btn.btn-success(type='button' ng-click="newStaff()" ng-disabled="newItemForm.$invalid") Add Outside Staff
        p
  hr
  div#internalMessage
